.orderDetails {
  height: 460px;
  width: 952px;
  position: relative;
  border: solid 1px var(--grey-middle);
  background: var(--white);
  border-radius: 5px;

  &__closeButton{
    top: -20px;
    right: -23px;
  }

  &__titleWrapper{
    padding-top: 28px;
    padding-left: 38px;
  }
  &__title{
    font-size: 22px;
    font-weight: bold;
  }

  &__addProductWrapper{
    margin-top: 24px;
  }

  &__circlePlus{
    stroke: var(--green);
    width: 20px;
    height: 20px;
    stroke-width: 1px;
    margin-right: 8px;
  }
}