:root {
  // Color
  --white: #FFFFFF;
  --green: #7CB342;
  --dark-green: #5C8E29;
  --light-green: #CDDC39 ;
  --black: #2C3C44;
  --light-black:#556E7A;
  --grey: #F0F3F5;
  --grey-middle: #CFD8DC;
  --dark_grey: #90A4AE;
}