.orders {
  padding: 67px 0px 0px 122px;
  height: 100%;

  &__titleIcon {
    margin-right: 21px;
    height: 40px;
    width: 40px;
  }

  &__listDetailsWrapper{
    padding-top: 60px;
    position: relative;
    width: 1445px;
  }
}

.shortList .orders__listItemTitle {
  display: none;
}

.orders.orders__greyBackground{
  background: var(--grey);
}

