.orders {
  &__list{
    margin-top: 60px;
    height: 405px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__listItem{
    height: 70px;
    width: 1435px;
    border: solid 1px var(--dark_grey);
    border-radius: 5px;
    padding-left: 36px;
    position: relative;
    margin-bottom: 12px;
  }

  //&__listItem:last-of-type{
  //  margin-bottom: 0px;
  //}

  &__listItemTitle{
    font-size: 21px;
    text-decoration: underline;
    letter-spacing: 0.8px;
    width: 680px;
  }

  &__listItemAmountProductWrapper{
    /* margin-right: 73px; */
    width: 154px;
  }
  &__listItemAmountProductButton{
    height: 45px;
    width: 45px;
    background: transparent;
    border-radius: 50%;
    margin-right: 18px;
  }
  &__listItemAmountProduct{
    font-size: 23px;
    line-height: 1;
  }
  &__listItemAmountProductSignature{
    font-size: 14px;
  }
  &__listItemTrash{
    width: 10px;
    height: 10px;
  }

  &__listItemDateWrapper{
    margin-right: 79px;
    height: 100%;
    width: 196px;
  }
  &__listItemPriceWrapper{
    padding-top: 11px;
  }

  &__listItemPrice2{
    font-size: 16px;
    transform: translateY(-5px);
  }

  &__listItemPrice2Currency{
    font-size: 12px;
  }
}