@use "./app/styles/index";

* {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h2, p, .h2 {
    margin: 0px;
    color: var(--black);
}
.h_100 {
    height: 100%;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
p{
    font-size: 16px;
}
#root {
    height: 100vh;
    overflow-y: hidden;
}

.color_grey {
    color: var(--dark_grey);
}

.color_green {
    color: var(--green);
}

.font_size_12 {
    font-size: 12px;
}

.font_size_14 {
    font-size: 14px;
}

.h2 {
    font-size: 28px;
    font-weight: bold;
}

.gray {
    background: var(--gray);
}